{
	"bracketSpacing": true,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
		{ "files": ["*.json", "*.scss", "*.css"], "options": { "singleQuote": false } }
	]
}
